//- index.jade
extends ./layout.jade

block title
  title Add Article

block content
    h1 Neuer Artikel

    if flash_message_error != ""
        #flash_message_error
            h2 Fehler!
            p #{flash_message_error}

    if flash_message != ""
        #flash_message_error
            h2 Info
            p #{flash_message}

            
    form(method="post")
        input( type="hidden", name="_csrf", value="#{csrfToken}")

        fieldset
            label(for="title").
                Titel:
            br
            input(id="title", name="title", type="text", size="80", maxlength="300")
        fieldset
            label(for="state").
                Status:
            br
            select(id="state", name="state")
              option Entwurff
              option Veröffentlicht
              option Papierkorb

        fieldset
            label(for="teaser").
                Anrisstext:
            br
            textarea(id="teaser", name="teaser", cols="80", rows="3")

        fieldset
            label(for="body").
                Text:
            br
            textarea(id="body", name="body", cols="80", rows="20")
            br

        button(id="bt_save", class="btn", data-action="save").
            Speichern
