//- index.jade
extends ./layout.jade

block title
  title edit account

block content
    h1 Account-Daten

    if flash_message_error != ""
        #flash_message_error
            h2 Fehler!
            p #{flash_message_error}

    if flash_message != ""
        #flash_message_error
            h2 Info
            p #{flash_message}

    form(method="post")
        input( type="hidden", name="_csrf", value="#{csrfToken}")

        fieldset
            label(for="email").
                Name:
            br
            input(name="email", type="text", size="40", maxlength="300", value="#{email}")
            br
            label(for="password").
                Passwort:
            br
            input(name="password", type="password", size="40", maxlength="300")


        button(id="bt_save", class="btn", data-action="save").
            Speichern
