//- layout.jade
doctype html(lang="de")

html
  head
    block title
      title Default title
  body

    #container.menu_block
        ul
            if !user_name || user_name == ""
                li
                    a( href="/login" ) login
            else
                li
                    a( href="/logout" ) logout (#{user_name})
            li
                a( href="/add" ) Neuer Artikel
            li
                a( href="/edit_account" ) Account


    #container.content_block
        block content
